# Bytecode
__pycache__/
*.py[cod]

# Datasets
MICC-F220/
*.npy
*.pckl
*.hdf5
*.pt

# Model output
backend/model_output/
backend/static/

# Virtual Environments
.env
venv/
ENV/

# Node.js
frontend/node_modules/

# OS files
.DS_Store
Thumbs.db
